#detail-portfolio > .wrapper {
  width: 60%;
}
#detail-portfolio > .wrapper > img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
#detail-portfolio > .wrapper > p.skill {
  text-align: center;
  font-size: 1.5rem;
  color: #222831;
}
.skill-bar-wrapper {
  margin-top: 10px;
  text-align: center;
}

.skill-percentage {
  text-align: right;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-bar-container {
  width: 100%;
  height: 25px;
  background-color: #eeeeee;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.skill-bar-fill {
  height: 100%;
  background-color: #00adb5;
  transition: 0.4s ease;
}
